.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  #header {
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000000;
  }
  
  h1 {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0.5px;
    font-size: 30px;
    font-weight: bold;
  }
  
  #username {
    margin-left: 5px;
    margin-top: 8px;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
  }
  
  #totalBalance {
    background-color: #007dd9;
    color: white;
    padding: 15px;
    margin: 80px 20px 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: 18px;
    transition: transform 0.3s;
  }
  
  #totalBalance:hover,
  .balanceBox:hover {
    transform: scale(1.1);
  }
  
  #balanceBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .balanceBox {
    background-color: #007dd9;
    color: white;
    padding: 15px;
    margin: 0 5px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    height: 125px;
    transition: transform 0.3s;
  }

  .balanceBoxx {
    background-color: #175c0a;
    color: white;
    padding: 15px;
    margin: 0 5px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    height: 225px;
    transition: transform 0.3s;
  }
  
  .balanceValue {
    font-size: 24px;
    font-weight: bold;
  }
  
  .addButton {
    background-color: #007dd9;
    color: white;
    padding: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    width: 100px;
  }
  
  .deleteButton {
    background-color: #007dd9;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
  }